@use '../../styles/vars';

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.container {
  position: fixed;
  background: white;
  border: 1px solid vars.$light-gray;
  border-radius: 5px;
  padding: 20px;
  width:calc(100% - 30px);
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: hidden;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: vars.$dark-blue;
}

.text {
  line-height: 1.4rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}