@use '../../styles/vars';

.container {
  position: relative;
  background: vars.$very-light-gray;
  border-radius: 5px;
  grid-row: 3;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 500;
  color: vars.$moderate-blue;
  width: 100px;
  @media (min-width: vars.$breakpoint){
    flex-direction: column;
    grid-row: 1 / span 2;
    margin-right: 20px;
    align-self: start;
    border-radius: 8px;
    width: auto;
    height: 100px;
  }
}

.button {
  background: transparent;
  border: none;
  padding: 15px;
  display: flex;
  &:hover {
    .icon {
      path {
        fill: vars.$moderate-blue;
      }
    }
  }
}

.icon {
  path {
    transition: all 0.2s ease-in-out;
  }
}


