@use "../../styles/vars";

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
  animation: spin 0.6s 0s infinite linear;
  animation-fill-mode: forwards;
  display: inline-block;
}

.ball {
  border-radius: 100%;
  background-color: vars.$moderate-blue;
  opacity: 0.8;
  position: absolute;
  animation: spin 0.6s 0s infinite linear;
  animation-fill-mode: forwards;
  left: 0;
}

.circle {
  border-radius: 100%;
  border-style: solid;
  border-color: vars.$moderate-blue;
  opacity: 0.1;
  box-sizing: content-box;
  position: absolute;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}