@use "./styles/_reset.css";
@use "./styles/_vars";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.app {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  padding: 30px 15px;
  color: vars.$grayish-blue;
  position: relative;
  max-width: 728px;
  margin: 0 auto;
}
