@use "../../styles/vars";

.container {
  background: white;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto auto;
}

.heading {
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.username {
  font-weight: 500;
}

.youTag {
  margin-left: 7px;
  background-color: vars.$moderate-blue;
  color: white;
  font-size: 0.8rem;
  padding: 2px 5px 4px;
  border-radius: 2px;
}

.date {
  margin-left: 15px;
}

.content {
  margin: 18px 0;
  line-height: 1.3;
  grid-row: 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  button {
    align-self: flex-end;
  }
}

.reply {
  margin-left: 15px;
  position: relative;
  &::before {
    content: '';
    background: vars.$light-gray;
    width: 2px;
    height: 100%;
    position: absolute;
    left: -15px;
    bottom: 0;
  }
}

.reply {
  & + .reply {
    &::before {
      height: 120%;
    }
  }
}

.writingBox {
  & + .reply {
    &::before {
      height: 100%;
    }
  }
}

.mention {
  font-weight: 500;
  color: vars.$moderate-blue;
}

.button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.buttons {
  display: flex;
}

.replyButton, .editButton {
  color: vars.$moderate-blue;
  &:hover {
    color: vars.$light-grayish-blue;
    .icon {
      path {
        fill: vars.$light-grayish-blue;
      }
    }
  }
}

.deleteButton {
  color: vars.$soft-red;
  margin-right: 15px;
  &:hover {
    color: vars.$pale-red;
    .icon {
      path {
        fill: vars.$pale-red;
      }
    }
  }
}

.icon {
  margin-right: 5px;
  path {
    transition: all 0.2s ease-in-out;
  } 
}

.editContent {
    padding: 10px;
    font-family: inherit;
    color: inherit;
    background: transparent;
    margin-bottom: 15px;
    resize: vertical;
    outline: none;
    border: 1px solid vars.$light-gray;
    border-radius: 5px;
    width: 100%;
    &::placeholder {
      opacity: 1;
    }
    &:focus {
      border: 1px solid vars.$moderate-blue;
    }
  
}