@use "../../styles/vars";

.container {
  background: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto auto;
}

.heading {
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.username {
  font-weight: 500;
  margin-right: 15px;
}

.content {
  margin: 18px 0;
  line-height: 1.3;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.reply {
  margin-left: 15px;
  position: relative;
  &::before {
    content: '';
    background: vars.$light-gray;
    width: 2px;
    height: 120%;
    position: absolute;
    left: -15px;
    bottom: 0;
  }
}

.parent {
  & + .reply {
    &::before {
      height: 100%;
    }
  }
}

.answerTo {
  font-weight: 500;
  color: vars.$moderate-blue;
}

.replyButton {
  border: none;
  background: transparent;
  grid-row: 3;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: vars.$moderate-blue;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: vars.$light-grayish-blue;
    .icon {
      path {
        fill: vars.$light-grayish-blue;
      }
    }
  }
}

.icon {
  margin-right: 5px;
  path {
    transition: all 0.2s ease-in-out;
  } 
}
